In [13]:
import csv

# Criaçao de arquivo
with open("funcionarios.csv", "w") as arq3:
    writer = csv.writer(arq3)
    writer.writerow(("nome", "matricula", "setor"))
    writer.writerow(("Diego", 34352, "LMS-REMOTA"))
    writer.writerow(("Ramon", 23143, "LMS-DOL"))
    writer.writerow(("Joao", 23223, "LMS-DOL"))
    writer.writerow(("Nicole", 42343, "LMS-REMOTA"))
    writer.writerow(("Bento", 42342, "LMS-GRADUACAO"))
    writer.writerow(("Kesia", 23464, "LMS-REMOTA"))

In [14]:
# Visualizaçao de dados do arquivo
with open("funcionarios.csv", "r", encoding="utf8", newline="\r\n") as arq3:
    read = csv.reader(arq3)
    for i in read:
        print(i)

['nome', 'matricula', 'setor']
['Diego', '34352', 'LMS-REMOTA']
['Ramon', '23143', 'LMS-DOL']
['Joao', '23223', 'LMS-DOL']
['Nicole', '42343', 'LMS-REMOTA']
['Bento', '42342', 'LMS-GRADUACAO']
['Kesia', '23464', 'LMS-REMOTA']

In [15]:
# transformação do csv em formato lista
with open("funcionarios.csv", "r", encoding="utf8", newline="\r\n") as arq3:
    leitor = csv.reader(arq3)
    dados = list(leitor)

In [16]:
print(dados)

[['nome', 'matricula', 'setor'], ['Diego', '34352', 'LMS-REMOTA'], ['Ramon', '23143', 'LMS-DOL'], ['Joao', '23223', 'LMS-DOL'], ['Nicole', '42343', 'LMS-REMOTA'], ['Bento', '42342', 'LMS-GRADUACAO'], ['Kesia', '23464', 'LMS-REMOTA']]

In [17]:
#mostrando apenas os valores
for row in dados[1:]:
    print(row)

['Diego', '34352', 'LMS-REMOTA']
['Ramon', '23143', 'LMS-DOL']
['Joao', '23223', 'LMS-DOL']
['Nicole', '42343', 'LMS-REMOTA']
['Bento', '42342', 'LMS-GRADUACAO']
['Kesia', '23464', 'LMS-REMOTA']